# pre-commit is a linter runner and GitHub hook manager
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# Run `pre-commit autoupdate` now and then, why don't ya?

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        types: [text]
        stages: [commit, push, manual]
      - id: end-of-file-fixer
        types: [text]
        stages: [commit, push, manual]
      - id: check-ast
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: ["--maxkb=2200"]
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        types: [python]
        require_serial: true

  - repo: https://github.com/asottile/reorder_python_imports
    rev: v3.10.0
    hooks:
      - id: reorder-python-imports

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.8.0
    hooks:
      - id: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        types: [python]
        args: [--py37-plus]

  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        types: [python]
        require_serial: true

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0
    hooks:
      - id: prettier

  # Linter for markdown files
  # This hook uses DavidAnson Node.js markdownlint in a Docker to minimize dev environment at the cost of speed
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.35.0
    hooks:
      - id: markdownlint
        language: docker_image
        entry: ghcr.io/igorshubovych/markdownlint-cli:v0.31.1

  # Scan for secrets
  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.17.0
    hooks:
      - id: gitleaks-docker

  # Lint GitHub Actions
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.25
    hooks:
      - id: actionlint-docker

  - repo: local
    hooks:
      - id: block-files
        name: Block forbidden files
        entry: ./scripts/block-files.sh
        language: script
        pass_filenames: false
        always_run: true
