name: Benchmark
on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  benchmark:
    name: Check performance regression.
    runs-on: ubuntu-latest
    permissions:
      # deployments permission to deploy GitHub pages website
      deployments: write
      # contents permission to update benchmark contents in gh-pages branch
      contents: write

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          disable-sudo: true
          egress-policy: block
          disable-telemetry: false
          allowed-endpoints: >
            files.pythonhosted.org:443
            github.com:443
            pypi.org:443
            api.github.com:443

      - name: Checkout main branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          clean: true

      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
        with:
          python-version: "3.14"

      - name: Upgrade pip
        run: |
          pip install --constraint=.github/workflows/constraints.txt pip
          pip --version

      - name: Install UV
        run: |
          pipx install --pip-args=--constraint=.github/workflows/constraints.txt uv
          uv --version

      - name: Install Nox
        run: |
          uvx pipx install --pip-args=--constraint=.github/workflows/constraints.txt nox
          nox --version

      - name: Run benchmark with nox
        env:
          UV_PREVIEW: 1
        run: nox -s benchmark

      - name: Store benchmark result in github.io
        uses: benchmark-action/github-action-benchmark@4bdcce38c94cec68da58d012ac24b7b1155efe8b # v1.20.7
        with:
          name: Pytest-Benchmark Benchmark
          tool: "pytest"
          output-file-path: benchmark-output.json
          github-token: ${{ secrets.GITHUB_TOKEN }}
          auto-push: true
          alert-threshold: "130%"
          comment-on-alert: true
          fail-on-alert: true
