name: Release

on:
  push:
    branches:
      - main

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          disable-sudo: true
          egress-policy: block
          disable-telemetry: false
          allowed-endpoints: >
            files.pythonhosted.org:443
            github.com:443
            pypi.org:443
            release-assets.githubusercontent.com:443

      - name: Check out the repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 2

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.14"

      - name: Upgrade pip
        run: |
          pip install --constraint=.github/workflows/constraints.txt pip
          pip --version

      - name: Install UV
        run: |
          pipx install --pip-args=--constraint=.github/workflows/constraints.txt uv
          uv --version

      - name: Install tomlq
        run: |
          uv pip install tomlq

      - name: Check if there is a parent commit
        id: check-parent-commit
        run: |
          echo "sha=$(git rev-parse --verify --quiet HEAD^)" >> "$GITHUB_OUTPUT"

      #           echo "::set-output name=sha::$(git rev-parse --verify --quiet HEAD^)"

      - name: Detect and tag new version
        id: check-version
        if: steps.check-parent-commit.outputs.sha
        uses: salsify/action-detect-and-tag-new-version@b1778166f13188a9d478e2d1198f993011ba9864 # v2.0.3
        with:
          version-command: |
            bash -o pipefail -c "tomlq -r '.project.version' pyproject.toml

      - name: Bump version for developmental release
        if: "! steps.check-version.outputs.tag"
        run: |
          version=$(tomlq -r '.project.version' pyproject.toml) &&
          base_version="${version///\.dev.*//}" &&
          new_version="${base_version}.dev.$(date +%s)" &&
          tomlq -i ".project.version = ${new_version}" pyproject.toml

      - name: Build package
        run: |
          uv build

#      - name: Publish package on PyPI
#        if: steps.check-version.outputs.tag
#        uses: pypa/gh-action-pypi-publish@717ba43cfbb0387f6ce311b169a825772f54d295 # v1.5.0
#        with:
#          user: __token__
#          password: ${{ secrets.PYPI_TOKEN }}
#
#      - name: Publish package on TestPyPI
#        if: "! steps.check-version.outputs.tag"
#        uses: pypa/gh-action-pypi-publish@717ba43cfbb0387f6ce311b169a825772f54d295 # v1.5.0
#        with:
#          user: __token__
#          password: ${{ secrets.TEST_PYPI_TOKEN }}
#          repository_url: https://test.pypi.org/legacy/
#
#      - name: Publish the release notes
#        uses: release-drafter/release-drafter@ac463ffd9cc4c6ad5682af93dc3e3591c4657ee3 # v5.20.0
#        with:
#          publish: ${{ steps.check-version.outputs.tag != '' }}
#          tag: ${{ steps.check-version.outputs.tag }}
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
